:root{
  --white: #ffffff;
  --black: #303030;
  --black-title: #3b3b3b;
  --black-subtitle: #676767;
  --black-input: #3c3c3c;
  --black-footer: #333333;
  --black-text:#172129; 
  --blue: #487394;
  --blue-button: #4f8bb9;
  --green: #26b522;
  --green-button: #40e13b;
}


*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important ;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}


body{
  background-color: var(--white);
  font-family: 'Roboto', sans-serif; 
} 

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 100;
  font-family: 'Open Sans', 'regular';
  margin: 27px 0px 27px;
}


main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}

section{
  max-width: 1140px;
}

textarea {
  border: none;
  outline: none; 
  resize: none; 
}

input {
  border: none;
  outline: none;
  box-shadow: none;
}




