.about--container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.about--content{
  display: flex;
  gap: 28px;
  justify-content: center;
  align-items: center;
}

.about--content--container{
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.about--content--text{
  line-height: 35px;
}

.about--button--readmore{
  display: flex;
  margin: 0 auto;
  padding: 20px;
  font-size: 14px;
  gap: 8px;
}

.about--button{
  font-size: 16px;
  padding: 16px 29px;
  background-color: var(--blue);
  color: var(--white);
  transition: background-color 0.2s;
}

.about--button:hover{
  background-color: var(--blue-button);
}

#about--button{
  display: none;
}

@media screen and (max-width: 1136px){
  .about--content{
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .about--button--readmore{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .about--content{
    flex-direction: column;
  }
  .hide-on-mobile {
    display: none;
  }
  #about--button{
    display: block;
  }
  .about--button{
    display: none;
  }
  .about--image{
    width: 100vw;
    height: 190px;
    object-fit: cover;
  }
}


.about--container {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Adicione transições suaves */
}

/* Quando a classe 'fade-in' for adicionada, a opacidade será 1 e a posição será 0 (normal) */
.about--container.fade-in {
  opacity: 1;
  transform: translateY(0);
}