#myHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
  position: fixed;
  z-index: 998;
  background-color: transparent;
  transition: background-color 1s ease, height 1s ease; 
}

#myHeader.header-scrolled {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#myHeader.header-small {
  height: 60px;
}

.header-scrolled {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}


header{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 75px;
  position: fixed;
}

.header--content{
  max-width: 1140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.links{
  display: flex;
  gap: 28px;
}

a {
  position: relative;
  text-decoration: none;
  font-family: 'Roboto-bold', sans-serif;
  font-size: 15px;
  font-weight: 900;
  color: var(--black-text);
}

a::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--black-text);
  transition: width 0.3s ease-in-out;
}

a:hover::after {
  width: 100%;
}

.header--search{
  cursor: pointer;
}


@media screen and (max-width: 1140px) {
  .header--content{
    width: 95%;
  }
}


/*  Menu hamburguer ----------------------- */
.menu--hamburguer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .menu--hamburguer{
    display: none;
  }
}


.menu-icon {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.menu-line {
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--black-text);
  margin: 5px 0;
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: white;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
}

.menu-links {
  list-style: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.active {
  transform: translateX(0);
}


@media screen and (max-width: 768px) {
  .menu-icon {
    display: block; 
  }
  .menu-icon{
    display: block;
  }

  .links {
    display: none;
  }
}





#scroll-progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #eee;
  display: none;
  z-index: 999;
}

#scroll-progress {
  height: 100%;
  width: 0;
  background-color: var(--black-text
  );
  transition: width 0.3s;
}