#portfolio{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.portfolio--content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px 5%;
}

.hidden {
  display: none;
}
.portfolio--image {
  width: calc(33.33% - 20px);
  margin: 10px;
  transition: transform 0.3s ease, margin-top 0.3s ease;
  cursor: pointer;
}

.portfolio--image:hover {
  transform: scale(1.05);
  margin-top: -5px;
}

.portfolio--button{
  margin-top: 30px;
  padding: 21px 23px;
  width: 238px;
  height: 54px;
  background-color: var(--blue);
  color: var(--white);
}

@media (max-width: 768px) {
  .portfolio--content {
    margin: 0;
  }

  .portfolio--image {
    width: calc(50% - 20px);
    margin: 8px;
  }

  #loadMore {
    display: block;
  }
}



.portfolio--content {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; 
}

.portfolio--content.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.portfolio--image.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-in-out, transform 1s ease-in-out; 
}

.portfolio--image.fade-in {
  opacity: 1;
  transform: translateY(0);
}